.App {
  text-align: center;
}
body{
  scrollbar-width: none;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.page-title{
  font-family: 'Cinzel Decorative', serif;
}
::-webkit-scrollbar {
  display: none;
}

/* navigation */
.create-event-button{
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
}
.navigation-links {
  display: inline;
  margin-right: 40px;
  color:#6b9080;
  text-decoration: none;
}
.navigation-links:hover{
  font-weight: bold;
  font-style: italic;
}
.navigation-container {
  margin-bottom: 25px;
}

/* Calendar Month View */
.lefthand-customizer {
  width: 20%;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
  height: 100%;
  position: fixed;
  left: 0;
}
.lefthand-customizer h3{
  margin: 0;
}
.lefthand-customizer input{
  
}
.calendar-table {
  width: 80%;
  margin-left: 20%;
  display: inline-block;
  background-color: whitesmoke;
  border-radius: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-collapse: none;
}
.calendar-table table {
  margin: auto;
  background-color: white;
  width: 90%;
  border-collapse: collapse;
}
.previous-month,
.next-month,
.month-title {
  display: inline;
}
.month-selector{
  width: 50%;
  margin-left: 25%;
  display: relative;
}
.month-title{
  color: #6b9080;
  font-weight: normal;
}
.previous-month, .next-month{
  position: absolute;
  background-color: whitesmoke;
  border: none;
  padding: 5px;
  font-size: 12pt;
  border-radius: 5px;
}
.previous-month{
  left: 0;
  margin-left: 35%;
}
.next-month{
  right: 0;
  margin-right: 15%;
}
.previous-month:hover, .next-month:hover{
  background-color: #a4c3b2;
  color: white;
}
.previous-month{
  display: inline-start;
}
.calendar-table td,
th {
  width: 50px;
  max-width: 50px;
  word-wrap: normal;
  height: 85px;
  padding: 4px 4px 0px 4px;
  border: 0;
}
.calendar-table th{
  font-weight: normal;
  padding-top: 10px;
  height: fit-content;
  padding-bottom: 5px;
}
.calendarhover:hover{
  background-color: #cbd8d0;
  box-shadow: 2px 2px 2px rgb(0,0,0,0.2);
  transition: ease-in-out 0.25s;
}
.calendar-table td {
  overflow: scroll;
}
.calendarhover{

}
.calendar-table td:hover .holiday{
/*   background-color:#a4c3b2; */
}
.calendar-table tr:nth-child(even){
  background-color:rgb(240, 240, 240);
}
.calendar-top-bar{
  width: 90%;
  margin: auto;
  background-color: white;
  padding-top: 8px;
}
.table-date{
  align-items: flex-end;
}
.calendar-day-container{
  position: relative;
}
.calendar-day{
  text-align: right;
  color: grey;
  font-size: 11pt;
  position:absolute;
  padding-right: 3px;
  right: 0;
  padding-bottom: 0px;
}
.days-events, .day-td{
  margin-top: 0;
}
.days-events{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
input[type=checkbox]{
  accent-color: #6b9080;
}
.filter-title{
  font-weight: normal;
}
.checkbox:checked + .checkbox-label{
  color:#31443c;
  font-style: normal;
}
.checkbox-label{
  color:grey;
  font-style: italic;
}
.current-day-button{
  background-color: rgb(51, 55, 59);
  border: 0px;
  border-radius: 8px;
  padding: 5px 10px 8px 10px;
  color: white;
  font-family: sans-serif;
  margin-top: 25vh;
}
.current-day-button:hover{
  background-color: #6b9080;
  transition: ease-in-out 0.25s;
}
.today-icon{
  font-size: 12pt;
  transform: translate(0, 2px);
}
.day-button-day-styling{
  margin-top: 0;
}

/* Single calendar day styling*/
.day-menu-item{
  display: inline;
  margin: 0;
}
.day-menu-button{
  vertical-align: bottom;
}
.day-schedule-container{
  width: 70%;
  margin-left: 15%;
}
.holiday-day-card{
  background-color:#cde4d6;
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
}
.holiday-day-card h2{
  text-align: left;
  margin-left: 15px;
  font-weight: normal;
}
.holiday-day-card:hover{
  background-color:#accab7;
  box-shadow: 2px 2px 3px rgb(0,0,0,0.25);
  color: white;
  transition: ease-in-out 0.25s;
}
.event-card{
  background-color:rgb(204, 204, 221);
  width: 100%;
  padding: 5px;
  border-radius: 15px;
  margin: 5px 0px 5px 0px;
  position: relative;
  text-align: left;
}
.event-card:hover{
  background-color:rgb(189, 172, 204);
  box-shadow: 2px 2px 3px rgb(0,0,0,0.25);
  color: white;
  transition: ease-in-out 0.25s;
}
.event-time, .event-card-title{
  width: fit-content;
  text-align: left;
  display: inline;
}
.event-card-title{
  font-weight: normal;
  margin-left: 15px;
}
.event-time{
  position: absolute;
  left: 0;
  margin-left: 35vw;
  top: 0;
  transform: translate(0, -5px);
}
.event-desc{
  margin-left: 40px;
  font-style: italic;
  color: rgb(0,0,0, 0.5);
}
.prev, .next{
  background-color: whitesmoke;
  border: none;
  padding: 5px;
  font-size: 12pt;
  border-radius: 5px;
}
.prev:hover, .next:hover{
  background-color:#a4c3b2;
  color: white;
}
.day-selector-menu{
  display: relative;
}
.prev{
  position: absolute;
  left: 0;
  margin-left: 30vw;
}
.next{
  position: absolute;
  left: 0;
  margin-left: 70vw;
}

/* Event Page */
.event-row-1{
  position: relative;
  margin-top: 5px;
}
.event-row-1 .countdown-container{
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-15px, -15px);
}
.event-row-1 h4{
  padding: 0;
  margin-left: 15px;
}
.event-item{
  background-color: whitesmoke;
  width: 60%;
  margin-left: 20%;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: left;
  border-radius: 10px;
}
.event-item:hover{
  box-shadow: 2px 2px 3px rgb(0,0,0,0.2)
}
#event-item-table td{
  width: 300px;
}
.row1-item{
  padding: 5%;
}
.event-item-date{
  left: 400px;
  transform: translate(0, -60px);
}
.event-inline-obj{
  display: inline;
}
.create-event-title{
  width: 20%;
}
.new-event-button{
  background-color: #a4c3b2;
  border: none;
  border-radius: 8px;
  padding: 5px;
  color: white;
}
.edit-event-button{
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  font-size: 14pt;
}
.delete-button{
  position: absolute;
  right: 0;
  top: 0;
  padding: 2px;
  margin-right: 15px;
  transform: translate(0, -5px);
  color: white;
  border-radius: 8px;
  font-size: 15pt;
}
.delete-button:hover{
  background-color: rgb(0,0,0,0.25);
}
.event-row-2 p{
  margin-top: 5px;
  margin-left: 20px;
  color: grey;
  font-size: 11pt;
  font-style: italic;
}
.event-item .event-description{
  font-size: 10pt;
  text-align: left;
}
.countdown-timer{
  color: rgb(158, 158, 158);
}
.countdown{
  font-weight: bold;
  color:#6b9080;
}
form{
  width: 20%;
  background-color: whitesmoke;
  border-radius: 10px;
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 15px;
}
form:hover{
  box-shadow: 2px 2px 3px rgb(0,0,0,0.25)
}
.create-event-title, .create-event-date, .create-event-time, .create-event-desc{
  border: none;
  padding: 5px;
  background-color: white;
  margin-bottom: 5px;
  border-radius: 5px;
  font-family: sans-serif;
}
.create-event-title{
  width: 220.656px;
}
.create-event-date{
  margin-right: 5px;
}

.create-event-date::-webkit-datetime-edit-month-field, .create-event-date::-webkit-datetime-edit-day-field, .create-event-date::-webkit-datetime-edit-year-field, .create-event-date::-webkit-datetime-edit-text, .create-event-date::-webkit-calendar-picker-indicator, .create-event-time::-webkit-date{
  color: grey;
  font-size: 11pt;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.create-event-date::-webkit-datetime-edit-text, .create-event-date::-webkit-calendar-picker-indicator{
  color: rgb(0,0,0,0);
}
.create-event-desc{
  width: 220.656px;
  resize: none;
}
.create-event-submit{
  background-color: rgb(51, 55, 59);
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 8px;
  color: white;
}
.create-event-submit:hover{
  background-color:#6b9080;
  transition: ease-in-out 0.3s;
}
.close-button{
  position:absolute;
  right: 0;
  bottom: 0;
  border: 0px;
  background-color: rgb(0,0,0,0);
  margin-bottom: 145px;
  margin-right: 20px;
  font-size: 12pt;
  padding: 0px;
  z-index: 2;
}
.close-button:hover{
  color: red;
  transition: ease-in-out 0.25s;
}
.create-event-button{
  background-color: rgb(51, 55, 59);
  padding: 5px 10px 5px 10px;
  border: none;
  border-radius: 8px;
  color: white;
}
.create-event-button:hover{
  background-color:#6b9080;
  box-shadow: 2px 2px 3px rgb(0,0,0,0.2);
}

/* Event/Holiday card coloring */
.event{
  font-size: 10pt;
  text-align: left;
  padding: 2px;
  border-radius: 5px;
  height: 18px;
  overflow: hidden;
  padding-left: 5px;
  margin: 4px 4px 0px 4px;
}
.event:hover{
  height: fit-content;
  transition: ease-in-out 0.5s;
}
.holiday{
  background-color: #a4c3b2;
  font-family: 'Indie Flower', cursive;
  color:#31443c
}
.holiday:hover{
  background-color: #31443c;
  color:#eaf4f4;
}
.custom-event{
  background-color: rgb(179, 215, 229);
  font-family: 'Caveat', cursive;
  color: rgb(58, 73, 78);
}
.custom-event:hover{
  background-color: rgb(135, 171, 185);
  color: white;
}
.today{
  background-color: #6b9080;
}
.today .calendar-day {
  color: white;
}
.today:hover{
  
}

table td .calendar-day{
  padding-bottom: 0px;
}
.loader{
  animation-name: loading;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  position: relative;
  top: 15px;
  color:#6b9080;
}
@keyframes loading {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

/* Coming soon page*/
.coming-soon-container{
  background-image: url("https://mitchmcclellan.com/img/27/shader_gradient.png");
  background-size: 1600px;
  height: 280px; 
  padding:10%;
}
.coming-soon-title{
  color: white;
  margin-top: 8%;
  font-weight: normal;
}