.App {
  text-align: center;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* navigation */
.navigation-links {
  display: inline;
  margin-right: 40px;
}
.navigation-container {
  margin-bottom: 25px;
}

/* Calendar Month View */
.lefthand-customizer {
  width: 20%;
  margin-left: 0;
  margin-right: 0;
  display: inline-block;
}
.calendar-table {
  width: 80%;
  margin-left: 0;
  display: inline-block;
  background-color: whitesmoke;
}
.calendar-table table {
  margin: auto;
  background-color: white;
}
.previous-month,
.next-month,
.month-title {
  display: inline;
}
.month-title{
  margin-left: 60px;
  margin-right: 60px;
}
.previous-month, .next-month{
  background-color: white;
  border: 1px solid lightgrey;
  font-size: 12pt;
}
.calendar-table td,
th {
  width: 95px;
}
